<div class="container">
  <h1>Snapface</h1>
  <section class="description">
      <h2>Technology Used</h2>
      <p><strong>Angular 17.3.0</strong>, <strong>TypeScript 5.4.2</strong></p>
  </section>
  <section class="tutorial">
      <h2>Tutorial Followed</h2>
      <p>"Get Started with Angular" on OpenClassrooms</p>
      <p><a href="https://openclassrooms.com/en/courses/7471261-get-started-with-angular" target="_blank">Link to the tutorial</a></p>
  </section>
  <section class="details">
      <h2>Description</h2>
      <p>Snapface is a modern and interactive web application designed to provide a pleasant experience for viewing and interacting with photos. Developed with Angular framework version 17.3.0 and using TypeScript 5.4.2, Snapface combines performance, responsiveness, and a smooth user interface to allow users to easily navigate through photo collections and "like" them.</p>
  </section>
  <section class="features">
      <h2>Main Features</h2>
      <ul>
          <li>Photo Display: Users can view a gallery of photos organized in a clear and intuitive manner.</li>
          <li>Photo Likes: Each photo can be "liked" by users, allowing them to show their appreciation.</li>
          <li>Modern User Interface: The application offers a clean and responsive user interface, ensuring a smooth experience on various devices (desktop, tablets, mobile).</li>
          <li>Performance and Responsiveness: Thanks to Angular and TypeScript, the application is optimized to offer fast loading times and real-time interactions.</li>
      </ul>
  </section>
  <section class="objective">
      <h2>Project Objective</h2>
      <p>The development of Snapface was undertaken as part of learning Angular. By following the "Get Started with Angular" tutorial on OpenClassrooms, this project aimed to practice the fundamental concepts of Angular, from component structure to service and state management.</p>
  </section>
  <section class="learning">
      <h2>Learning and Benefits</h2>
      <ul>
          <li>Mastering Angular: Understanding the basics of the Angular framework, including components, modules, services, and routes.</li>
          <li>Using TypeScript: Learning to use TypeScript to add strong typing and better error handling to JavaScript code.</li>
          <li>Developing a SPA (Single Page Application): Designing and implementing a dynamic and responsive web application.</li>
      </ul>
  </section>
  <section class="conclusion">
      <h2>Conclusion</h2>
      <p>Snapface is the result of practical and in-depth training on Angular, illustrating how to create a performant and enjoyable web application. The "Get Started with Angular" tutorial on OpenClassrooms has been a valuable resource for acquiring the skills needed to complete this project. The application is not only an entertaining tool for users but also a testament to the efficiency and power of the Angular framework combined with TypeScript.</p>
  </section>
</div>
