.home-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Utilisez toute la hauteur de la vue */
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  margin-bottom: 20px;
}
.landing-block {
  text-align: center;
}

.landing-links {
  width: 100%;
  text-align: center;
}

button{
  font-size : 20px;
}
